* {
  box-sizing: border-box;
}
.heroImage{
  max-width: 100%;
  height: 100vh;
}
.firstFigure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  align-items: center;
}
.firstFigure figcaption{
  margin:2rem;
  font-size: 4rem;
}

article p{
  font-size: 1rem;
}
article>ol>:nth-child(1){
  color: blue;
}
.sectionCarouzel{

  justify-content: space-between;
  display: flex;  
}
.secondFigure{
  width: 400px;

}
.firstPicture{
  max-width: 100%;
  height: 600px; 
  object-fit: cover;

}  
.secondPicture{
  max-width: 100%;
  height: 600px; 
  object-fit: cover;
  object-position: top right;

}  
.thirdPicture{
  max-width: 100%;
  height: 600px; 
  object-fit: cover;

}  
.fourthPicture{
  max-width: 100%;
  height: 600px; 
  object-fit: cover; 

}  

footer{
  margin-top: 10vh;
  margin-left: 5vh;
  background-color: black;
  color: white;
  height: 20vh;
}
